.cart {
    display: flex;
    align-items: center;
    background: transparent;
    margin-left: 30px;
    color: inherit;

    @media (max-width: 640px){
        margin-left: 28px;
    }
    @media (max-width: 480px){
        margin-left: 20px;
    }
}



.icon {
    width: 21px;
    height: 23px;
    margin-right: 20px;
    @media (max-width: 640px){
        width: 18px;
        height: 20px;
        margin-right: 18px;
    }
    @media (max-width: 480px){
        margin-right: 12px;
    }
}



.number {
    margin-bottom: 3px;
}



.sum {
    font-weight: 600;
}