@import '../../../scss/_vars';



.menu {
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: inherit;
    
    
    a:hover {
        color: $colormain;
        transform: translateY(-3px);
        cursor: pointer;
    }

    @media (max-width: 480px){
        flex-direction: column;
        align-items: flex-start;
        
        li {
            margin-bottom: 10px;
        }
    }
}




.item {
    margin-right: 30px;
    transition: 200ms;

    &:hover {
        transform: translateY(-3px);
        cursor: pointer;
    }
}



.link {
    color: inherit;
}


