@import '../../../scss/vars';


.wrapper {
   grid-area: menu;
   padding: 0px 20px 20px 0px;
}


.choice {
   display: none;
   
   @media (max-width: 680px) {
         border: 1px solid #ECECEC;
         padding: 12px;
         display: flex;
         align-items: center;
         color: #B8C1CA;
      }

}

.choiceBtn {
   background: transparent;
   margin-right: 12px;


}
.menu {
   width: 100%;
}


.item {
   border: 1px solid #ECECEC;
   border-top: none;

   &:first-child {
      border-top: none;
      @media (min-width: 681px){
         border-top: 1px solid #ECECEC;
      }
   
   }
}



.btn {
   background: transparent;
   padding: 8px 24px 8px 12px;   
}

.noBtn {
   cursor: text;
}

.activeBtn {
   color: $coloraccent;
}


.dishes, .spices{
   padding-left: 20px;

   li {
      position: relative;

      
   &:before {
      content: '';
      width: 3px;
      height: 3px;
      position: absolute;
      top: 20px;
      left: 0;
      border-radius: 50%;
      background-color: $colortext;
      opacity: 0.5;
   }
   }
}
