@import '../../../scss/vars';

.cartItem {
   border: 1px solid #EFF2F4;
   position: relative;
   display: flex;
   align-items: center;
   margin-bottom: 20px;
   @media (max-width: 380px) {
         flex-direction: column;
         align-items: flex-start;
      }

}

.icons {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   padding: 0px 20px;

}



.label {
   position: absolute;
   top: 0;
   left: 20px;
   display: flex;
   align-items: center;
   justify-content: center;

   p {
      position: absolute;
      font-size: 11px;
      color: #fff;
   }
}



.content {
   padding: 0px 15px 30px;
}


.imgBlock {
   max-width: 30%;
   min-width: 120px;
   @media (max-width: 380px) {
         align-self: center;
      }
   
}

.img {
   padding: 10px;
   
   img {
      width: 100%;
      height: 100%;
   }
   
}


.main {
   padding: 10px 20px 40px;
}




.title {
   font-size: 18px;
   font-weight: 600;
   margin-bottom: 8px;

   @media (max-width: 960px) {
      font-size: 16px;
   }

   @media (max-width: 640px) {
      font-size: 14px;
   }

   span {
      font-weight: 300;
      font-style: italic;
   }

}




.text {
   font-size: 14px;
   margin-bottom: 15px;

   @media (max-width: 960px) {
      font-size: 13px;
   }

   @media (max-width: 640px) {
      font-size: 12px;
   }
}




.prices {
   margin-bottom: 15px;
   display: flex;
   margin-bottom: 10px;
   font-size: 14px;

   li {
      padding-right: 10px;
   }
   
      @media (max-width: 960px) {
         font-size: 13px;
      }
   
      @media (max-width: 640px) {
         font-size: 12px;
      }
}



.newPrice {
   color: #E73A2E;
   font-weight: 600;
}



.oldPrice {
   text-decoration: line-through;
   color: #c0c0c0;
}


.price {
   color: inherit;
   font-weight: 600;
}




.sum {
   font-size: 14px;
   
      @media (max-width: 960px) {
         font-size: 13px;
      }
   
      @media (max-width: 640px) {
         font-size: 12px;
      }
   span {
   font-weight: 600;
   }
}



.deleteBtn {
   position: absolute;
   right: 0px;
   top: 0px;
   background: transparent;
   color: #c0c0c0;
   width: 30px;
   height: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
   
   &:hover {
      color: rgb(233, 102, 93);
      
   }
}




.counter {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   margin-bottom: 16px;
}


.counterBtn {
   background: transparent;
   width: 30px;
   height: 30px;
   border: 1px solid rgba(0, 0, 0, 0.2);
   border-radius: 10px;

   &:hover {
      background-color: #9AC643;
      color: #fff;
      border-color: #9AC643;
   }
}


.counterText {
   margin: 0px 10px;
}



.weight {
   font-weight: 300;
   font-style: italic;
}