@import '../../../scss/_vars';


.header {
    font-size: 14px;

    @media (max-width: 480px){
        font-size: 12px;
    }
    @media (max-width: 330px){
        font-size: 10px;
    }
}


.headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0px;
    white-space: nowrap;

}

.userPanel {
    display: flex;
    align-items: center;

}


.nav {
    background-color: $colormain;
}



.navContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}


.menuBurgerBtn {
    background: transparent;
    display: none;
    margin-right: 10px;

    @media (max-width: 640px) {
        display: block;
    }
}



.menuBurger {

    min-height: 100vh;
    white-space: nowrap;
    background-color: rgba(255, 255, 255, 0.95);
    border-bottom: 2px solid $colorborder;
    display: flex;
    padding: 40px 0px 60px;
    flex-direction: column;
    align-items: center;
    font-size: 14px;

    position: absolute;
    z-index: 10;
    left: 0;
    top: 140px;
    width: 100%;

    @media (min-width: 641px) {
        display: none;
    }
}


.item {
    &:not(:last-child) {
        margin: 0px 0px 15px 0px;
    }
}

.link {
    color: inherit;
}